<div class="main-div">


    <app-add-course *ngIf="isAdmin"></app-add-course>
    <app-courses-filter></app-courses-filter>
   
    <div class="container courses-container">
        <div class="card border-secondary mb-3"
            *ngFor="let course of (courses | async | namePipe : selectedName | ectsPipe : selectedEcts | semesterPipe : selectedSemester)">
<!--  | ectsPipe : selectedEcts | semesterPipe : selectedSemester -->
            <div>
                <div class="card-header">
                    <h5 class="card-title">{{course.name}}</h5>
                </div>

                <div class="card-body d-flex align-items-start flex-column bd-highlight mb-3">

                    <div class="mb-auto p-2 bd-highlight ">
                        <!-- <p class="card-text">{{course.id}}</p> -->
                        <p class="card-text">{{course.description}}</p>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button type="button" class="btn btn-primary" routerLink="/courses/{{course.id}}">Szczegóły
                            kursu</button>
                        <button *ngIf="isAdmin" type="button" class="btn btn-danger" (click)="deleteCourse(course)">Usuń
                            kurs</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>