<div class="container-fluid main-div">
    <div class="container main-div">
        <!-- <div *ngIf="course" class="course-details"> -->
        <div class="course-details">
            <div class="container">
                <h2>{{(course | async)?.name}}</h2>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <p>Punkty ECTS: {{(course | async)?.ects}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Semestr: {{(course | async)?.semester}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Rodzaj: {{(course | async)?.activityType}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Limit uczestników: {{(course | async)?.participantsLimit}}</p>
                    </div>
                </div>
                <div>
                    {{(course | async)?.description}}
                </div>

                <app-course-rating [courseId]="courseId" [email]="email"></app-course-rating>
                
                <div class="ghost-div">
                        
                </div>
                
                <div class="button-div">
                    <button class="btn btn-lg btn-primary" (click)="goBack()">
                        <fa-icon [icon]="faAngleLeft"></fa-icon> Powrót
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>