.container-fluid{
    min-height: 100vh;
}

button{
    display: block;
}

.course-details{
    padding-top: 5em;
    margin: 0 2em;
    // min-height: 100vh;
}

.button-div{
    margin-top: 1em;
    display: block !important;
}

div.main-div{
    min-height: 100vh;
}

div.ghost-div{
    height: 3em;
}

fa-icon{
    padding-right: 0.2em; 
}