<div class="container-fluid main-div">


    <div class="container main-div">


        <div *ngIf="course" class="course-details">
            <div class="container">
                <h2>{{course.name | uppercase}}</h2>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <p>Punkty ECTS: {{course.ects}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Semestr: {{course.semester}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Rodzaj: {{course.activityType}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Limit uczestników: {{course.participantsLimit}}</p>
                    </div>
                </div>
                <div>
                    {{course.description}}
                </div>

                <app-course-rating [course]="course"></app-course-rating>


                <!-- <app-course-new-rating [course]="course" (rated)="onRatingReceived($event)"></app-course-new-rating> -->


                <div>
                    <button class="btn btn-lg btn-primary" (click)="goBack()">
                        <fa-icon [icon]="faAngleLeft"></fa-icon> Powrót
                    </button>
                </div>


            </div>



        </div>
    </div>
</div>