.container-fluid{
    // background-color: #ced6e0;
    min-height: 100vh;
}


// .container{
//     background-color: #f1f2f6;
// }

.course-details{
    padding-top: 5em;
    margin: 0 2em;
    // min-height: 100vh;
}


div.main-div{
    min-height: 100vh;
//     -webkit-box-shadow: 0px 0px 8px 14px rgba(242,242,242,1);
// -moz-box-shadow: 0px 0px 8px 14px rgba(242,242,242,1);
// box-shadow: 0px 0px 8px 14px rgba(242,242,242,1);
}

fa-icon{
    padding-right: 0.2em; 
}