
<div class="container main-div">
    <button type="button" class="btn btn-success" (click)="showHideForm()" *ngIf="!wantsToAddCourse"><fa-icon [icon]="faPlus"></fa-icon> Dodaj nowy kurs</button>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngIf="wantsToAddCourse">

        <div class="form-group" [ngClass]="{
                'has-danger': (name.invalid && name.dirty) || name.touched,
                'has-success': name.valid && name.dirty}">
            <label>Nazwa kursu</label>
            <input type="text" class="form-control" formControlName="name" required>

            <div class="form-error-message" *ngIf="name.errors && (name.dirty || name.touched)">
                <p *ngIf="name.errors.required">Pole jest wymagane</p>
            </div>
        </div>

        <div class="form-group" [ngClass]="{
                'has-danger': (ects.invalid && ects.dirty) || ects.touched,
                'has-success': ects.valid && ects.dirty}">
            <label>Liczba punktów ECTS</label>
            <input type="number" class="form-control" formControlName="ects" required>

            <div class="form-error-message" *ngIf="ects.errors && (ects.dirty || ects.touched)">
                <p *ngIf="ects.errors.required">Pole jest wymagane</p>
            </div>

        </div>

        <div class="form-group" [ngClass]="{
            'has-danger': (semester.invalid && semester.dirty) || semester.touched,
            'has-success': semester.valid && semester.dirty}">
            <label>Semestr na którym odbywa się kurs</label>
            <input type="number" class="form-control" formControlName="semester" required>

            <div class="form-error-message" *ngIf="semester.errors && (semester.dirty || semester.touched)">
                <p *ngIf="semester.errors.required">Pole jest wymagane</p>
            </div>
        </div>

        <div class="form-group" [ngClass]="{
            'has-danger': (participantsLimit.invalid && participantsLimit.dirty) || participantsLimit.touched,
            'has-success': participantsLimit.valid && participantsLimit.dirty}">
            <label>Maksymalna liczba studentów</label>
            <input type="number" class="form-control" formControlName="participantsLimit" required>

            <div class="form-error-message"
                *ngIf="participantsLimit.errors && (participantsLimit.dirty || participantsLimit.touched)">
                <p *ngIf="participantsLimit.errors.required">Pole jest wymagane</p>
            </div>
        </div>

        <div class="form-group" [ngClass]="{
            'has-danger': activityType.touched,
            'has-success': activityType.dirty}">
            <label>Forma zajęć</label>
            <select class="form-control" formControlName="activityType" required>
                <option value="">Wybierz formę zajęć</option>
                <option *ngFor="let activityType of typesOfActivity" [value]="activityType">
                    {{activityType}}
                </option>
            </select>

            <div class="form-error-message"
                *ngIf="activityType.errors && (activityType.dirty || activityType.touched)">
                <p *ngIf="activityType.errors.required">Pole jest wymagane</p>
            </div>
        </div>

        <div class="form-group" [ngClass]="{
            'has-danger': (description.invalid && description.dirty) || description.touched,
            'has-success': description.valid && description.dirty}">
            <label>Opis kursu</label>
            <input type="text" class="form-control" formControlName="description" required>

            <div class="form-error-message" *ngIf="description.errors && (description.dirty || description.touched)">
                <p *ngIf="description.errors.required">Pole jest wymagane</p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Dodaj kurs</button>
        <button class="btn btn-danger" (click)="showHideForm()">Anuluj</button>
    </form>
    <app-success-alert [successMessage]="successMessage" *ngIf="successMessageShown"></app-success-alert>
</div>