
h3{
    margin: 0.5em 0 0 0;
    display: inline;
  }


  
h3.already-registered{

    display: block;
  }
  
  h5{
    margin: 1em 0 2em 0;
  }
  .enrollmentCountParagraph{
    padding: 0.1em 0.7em;
    border-radius: 100px;
    min-width: 3em;
    font-size: 1em;
    text-align: center;
  }
  
  .enrollmentCountDiv{
    display:inline-block;
    color: #ffffff;
    font-size: 1.5em;
    margin-left: 0.5em;

  }

  .hidden{
      visibility: hidden;
      height: 0;
  }

  .already-registered{
      text-align: center;
      color: #ffffff;
      padding: 0.5em 0;
      border-radius: 20px;
  }

  .enroll{
      width: 100%;
  }

  @media (max-width: 700px) {
    h3{
        font-size: 1.2em;
    }
    p{
      font-size: 0.8em !important;
  
    .enrollmentCountDiv{
        margin-top: 0.5em;
        margin-left: 0;
      }
    }
  }