<h3>Średnia ocen </h3>
<div class="averageRatingDiv"><p class="averageRatingParagraph bg-primary">{{ avgRating | async }}</p></div>

<h3>Oceny</h3>
<div *ngFor="let rating of ratings | async">
  {{rating.email}} ocenił ten kurs na ocenę {{rating.value}}
 
</div>

<div class="averageRatingDiv" *ngIf="ratingsNumber == 0">
  <p class="averageRatingParagraph bg-primary">Brak ocen</p>
</div>




<div *ngIf="!emailNotNull" >
  <h3>Musisz być zalogowany aby ocenić kurs!</h3>
</div>

<div *ngIf="emailNotNull">
  <h3>Oceń kurs</h3>

  <fieldset class="rating">
    <ng-container *ngFor="let num of [5, 4, 3, 2 ,1]">
      <input (click)="ratingHandler(num)" [id]="'star'+num" [value]="num-0.5" name="rating" type="radio" />
      <label class="full" [for]="'star'+num"></label>
      
    </ng-container>
  </fieldset>
</div>