*{
  color: #ffffff;
}

div.cover-div
{
 height: 100vh;
//  background-image: url("../../assets/images/dashboard-cover.jpg");
 /* flex-box thing */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover; 
 margin-bottom: 30px;
}


div.cover-div{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  position: fixed;
  width: 100%;
}

.row{
  margin: 3em;
}

.btn{
  min-width: 10em;
}

.btn-primary{
  background-color: #f39c12;
  outline: none;
}

.btn-primary:hover{
  background-color: #e67e22
}

a{
  text-decoration: none;
}

a:hover{
  color: #bdc3c7;
}